<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="1">

<tr>

    <th> Model</th>
    <th> Color</th>
    <th> Max_speed</th>
</tr>
    <tr th:each="car : ${car}">
        <td th:text="${car.getModel()}"> Model</td>
        <td th:text="${car.getColor()}"> Color</td>
        <td th:text="${car.getMaxSpeed()}">Max_speed</td>


    </tr>

</table>

</body>
</html>